In [1]:
import pandas as pd

In [3]:
# output from time command 
# real    1m13.180s
# user    0m20.084s
# sys     0m3.491s

df = pd.read_pickle('../../results/automated_test_1_results.pkl')
df

,solved_puzzle,number_found,groups_found
0,True,4,"[[charm, hex, magic, spell], [cape, mask, tigh..."
1,False,0,[]
2,True,4,"[[pares, peels, shells, shucks], [head, knees,..."
3,False,2,"[[exploit, leverage, milk, use], [done, over, ..."
4,False,2,"[[drain, duct, pipe, sewer], [cheese, corn, sa..."
5,True,4,"[[back, champion, endorse, support], [banner, ..."
6,True,4,"[[griddle, kettle, pan, pot], [frill, fringe, ..."
7,False,1,"[[choice, say, voice, vote]]"
8,False,1,"[[easy, flexible, open, receptive]]"
9,False,1,"[[chow, eats, fare, grub]]"

In [4]:
# computer percent of tests that solved the puzzle
df['solved'] = df['solved_puzzle'].astype(int)

In [5]:
df.describe()

       number_found     solved
count     10.000000  10.000000
mean       2.300000   0.400000
std        1.567021   0.516398
min        0.000000   0.000000
25%        1.000000   0.000000
50%        2.000000   0.000000
75%        4.000000   1.000000
max        4.000000   1.000000

In [6]:
# real    2m34.328s
# user    1m16.371s
# sys     0m5.903s

df = pd.read_pickle('../../results/automated_test_2_results.pkl')
df

,solved_puzzle,number_found,groups_found
0,True,4,"[[hail, rain, sleet, snow], [bucks, heat, jazz..."
1,False,2,"[[boot, loafer, pump, sneaker], [foot, league,..."
2,True,4,"[[chow, gobble, scarf, wolf], [cheek, eye, mou..."
3,False,1,"[[adidas, nike, puma, reebok]]"
4,False,1,"[[blue, down, glum, low]]"
5,False,0,[]
6,False,2,"[[calf, cub, joey, kid], [ankle, knee, shin, t..."
7,True,4,"[[cherry, fire truck, ruby, stop sign], [backg..."
8,False,1,"[[ant, beetle, mantis, termite]]"
9,True,4,"[[date, kiwi, lemon, orange], [crane, jay, swa..."
10,False,1,"[[boo, honey, sweetie, sugar]]"
11,True,4,"[[loris, sloth, snail, tortoise], [envy, greed..."
12,False,1,"[[beta, delta, iota, chi]]"
13,True,4,"[[jonas, marx, warner, wright], [accord, civic..."
14,False,1,"[[caw, chirp, cluck, tweet]]"
15,True,4,"[[americano, cappuccino, espresso, latte], [ca..."
16,False,2,"[[ascot, bolo, scarf, tie], [bow, port, starbo..."
17,False,2,"[[cup, medal, ribbon, trophy], [lat, pec, quad..."
18,True,4,"[[cream, eggshell, ivory, vanilla], [beef, por..."
19,False,1,"[[baron, prince, king, earl]]"
20,False,0,[]
21,True,4,"[[boxer, dalmatian, husky, poodle], [beak, muz..."
22,False,0,[]
23,True,4,"[[anvil, cochlea, hammer, stirrup], [dreamcast..."
24,False,0,[]
25,True,4,"[[copy, echo, mimic, parrot], [denmark, greece..."
26,True,4,"[[beret, bowler, fedora, fez], [heart, kidney,..."
27,True,4,"[[emu, kiwi, ostrich, penguin], [banana, cocon..."
28,True,4,"[[add, divide, multiply, subtract], [fly, gnat..."
29,True,4,"[[hip, knee, shoulder, wrist], [bronco, cowboy..."
30,True,4,"[[cucumber, eggplant, pepper, tomato], [cone, ..."
31,False,1,"[[heel, lace, tongue, sole]]"
32,False,1,"[[flank, loin, shank, round]]"
33,True,4,"[[aroma, bouquet, fragrance, scent], [country,..."
34,True,4,"[[iron, lead, tin, zinc], [dime, nickel, penny..."
35,False,3,"[[kangaroo, koala, wallaby, wombat], [cheddar,..."
36,True,4,"[[dolphin, manatee, otter, seal], [hawk, move,..."
37,False,1,"[[pine, ash, cedar, maple]]"
38,True,4,"[[clock, hourglass, sundial, watch], [bob, cro..."
39,True,4,"[[bassoon, clarinet, flute, oboe], [cap, cover..."
40,False,1,"[[dasani, evian, fiji, voss]]"
41,True,4,"[[bolt, dash, race, sprint], [colon, comma, hy..."
42,False,2,"[[booby, gull, pelican, puffin], [furious, inc..."
43,True,4,"[[gas, liquid, plasma, solid], [crush, rout, t..."
44,False,0,[]
45,False,0,[]
46,True,4,"[[chameleon, gecko, iguana, monitor], [desert,..."
47,True,4,"[[corduroy, denim, linen, tweed], [needle, pok..."
48,False,0,[]
49,True,4,"[[acrylic, oil, tempera, watercolor], [falafel..."

In [7]:
# compute percent of tests that solved the puzzle
df['solved'] = df['solved_puzzle'].astype(int)
df.describe()

       number_found     solved
count     50.000000  50.000000
mean       2.560000   0.520000
std        1.618263   0.504672
min        0.000000   0.000000
25%        1.000000   0.000000
50%        4.000000   1.000000
75%        4.000000   1.000000
max        4.000000   1.000000