In [2]:
import pandas as pd

In [3]:
# output from time command 
# real    3m11.183s
# user    0m21.271s
# sys     0m4.442s

df = pd.read_pickle('../../results/automated_test_1_results.pkl')
df

,solved_puzzle,number_found,groups_found
0,True,4,"[[charm, hex, magic, spell], [cape, mask, tigh..."
1,False,0,[]
2,True,4,"[[pares, peels, shells, shucks], [auto, ride, ..."
3,False,2,"[[exploit, leverage, milk, use], [done, over, ..."
4,False,2,"[[drain, duct, pipe, sewer], [cheese, corn, sc..."
5,True,4,"[[banner, billboard, poster, sign], [first, in..."
6,True,4,"[[lay, place, put, set], [frill, fringe, ruffl..."
7,False,2,"[[choice, say, voice, vote], [flat, natural, q..."
8,False,0,[]
9,True,4,"[[direct, guide, lead, steer], [chow, eats, fa..."

In [4]:
# computer percent of tests that solved the puzzle
df['solved'] = df['solved_puzzle'].astype(int)

In [5]:
df.describe()

       number_found     solved
count     10.000000  10.000000
mean       2.600000   0.500000
std        1.646545   0.527046
min        0.000000   0.000000
25%        2.000000   0.000000
50%        3.000000   0.500000
75%        4.000000   1.000000
max        4.000000   1.000000

In [6]:
# real    19m45.361s
# user    1m21.628s
df = pd.read_pickle('../../results/automated_test_2_results.pkl')
df

,solved_puzzle,number_found,groups_found
0,True,4,"[[hail, rain, sleet, snow], [kayak, level, mom..."
1,False,2,"[[boot, loafer, pump, sneaker], [foot, league,..."
2,True,4,"[[chow, gobble, scarf, wolf], [cheek, eye, mou..."
3,True,4,"[[adidas, reebok, nike, puma], [dust, mop, swe..."
4,False,1,"[[blue, down, glum, low]]"
5,False,0,[]
6,True,4,"[[calf, cub, joey, kid], [ankle, knee, shin, t..."
7,True,4,"[[cherry, fire truck, ruby, stop sign], [backg..."
8,False,1,"[[ant, beetle, mantis, termite]]"
9,True,4,"[[date, kiwi, lemon, orange], [fish, goat, sca..."
10,False,0,[]
11,True,4,"[[loris, sloth, snail, tortoise], [envy, greed..."
12,False,1,"[[delta, iota, chi, beta]]"
13,True,4,"[[bunk, canopy, murphy, trundle], [crash, link..."
14,False,1,"[[lure, rod, tackle, reel]]"
15,True,4,"[[americano, cappuccino, espresso, latte], [al..."
16,False,2,"[[bow, port, starboard, stern], [ascot, bolo, ..."
17,False,2,"[[cup, medal, ribbon, trophy], [lat, pec, quad..."
18,True,4,"[[beef, pork, poultry, venison], [quarrel, row..."
19,True,4,"[[barley, oat, rye, spelt], [baron, earl, prin..."
20,False,2,"[[jazz, pop, punk, rap], [chrome, edge, opera,..."
21,True,4,"[[boxer, dalmatian, husky, poodle], [beak, muz..."
22,False,1,"[[beach boy, beatle, monkee, byrd]]"
23,False,0,[]
24,False,2,"[[darn, fudge, heck, shoot], [cheesecake, flan..."
25,True,4,"[[copy, echo, mimic, parrot], [denmark, greece..."
26,True,4,"[[heart, kidney, liver, lung], [beret, bowler,..."
27,False,2,"[[emu, kiwi, ostrich, penguin], [banana, cocon..."
28,True,4,"[[fly, gnat, moth, wasp], [skate, sole, tang, ..."
29,True,4,"[[hip, knee, shoulder, wrist], [bronco, cowboy..."
30,True,4,"[[cucumber, eggplant, pepper, tomato], [cone, ..."
31,False,1,"[[heel, lace, sole, tongue]]"
32,True,4,"[[flank, shank, round, loin], [ferry, junk, tu..."
33,True,4,"[[aroma, bouquet, fragrance, scent], [boar, bu..."
34,True,4,"[[dime, nickel, penny, quarter], [iron, lead, ..."
35,True,4,"[[kangaroo, koala, wallaby, wombat], [chunky, ..."
36,True,4,"[[dolphin, manatee, otter, seal], [brake, chai..."
37,False,1,"[[hill, plateau, valley, mountain]]"
38,True,4,"[[clock, hourglass, sundial, watch], [hertz, m..."
39,False,1,"[[cap, cover, lid, top]]"
40,True,4,"[[dasani, evian, fiji, voss], [cuba, japan, pa..."
41,True,4,"[[colon, comma, hyphen, period], [bolt, dash, ..."
42,True,4,"[[booby, gull, pelican, puffin], [furious, inc..."
43,False,2,"[[gas, liquid, plasma, solid], [copy, cut, pas..."
44,False,1,"[[boat, train, plane, car]]"
45,True,4,"[[cyclone, squall, tornado, blizzard], [cosmop..."
46,False,2,"[[desert, forest, grassland, tundra], [chamele..."
47,True,4,"[[ghost, phantom, specter, spirit], [corduroy,..."
48,False,1,"[[daffy, kooky, quirky, wacky]]"
49,True,4,"[[acrylic, oil, tempera, watercolor], [falafel..."

In [7]:
# compute percent of tests that solved the puzzle
df['solved'] = df['solved_puzzle'].astype(int)
df.describe()

       number_found     solved
count      50.00000  50.000000
mean        2.84000   0.580000
std         1.44787   0.498569
min         0.00000   0.000000
25%         1.25000   0.000000
50%         4.00000   1.000000
75%         4.00000   1.000000
max         4.00000   1.000000